[
    {lager, [
        {crash_log, "/var/log/{{appid}}/crash.log"},
        {crash_log_size, 0},
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [
                {"/var/log/{{appid}}/info.log", info, 0, "", 0},
                {"/var/log/{{appid}}/error.log", error, 0, "", 0}
            ]}
        ]}
    ]}
].
